flows.json
[{"id":"8604dec1.43f12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96cf2016.c8327","type":"ibmiot in","z":"8604dec1.43f12","authentication":"apiKey","apiKey":"14d35440.5c28cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1271","applicationId":"","deviceType":"motors","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":310,"y":160,"wires":[["29f96335.73148c","7d79e8e4.72a938","5a580b06.e07504","af95c2a4.3329","b731e80f.41a218"]]},{"id":"29f96335.73148c","type":"function","z":"8604dec1.43f12","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":140,"wires":[["4f7f1910.af9d58","b731e80f.41a218"]]},{"id":"7d79e8e4.72a938","type":"function","z":"8604dec1.43f12","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["23745d2e.aa33d2","b731e80f.41a218"]]},{"id":"5a580b06.e07504","type":"function","z":"8604dec1.43f12","name":"vibration","func":"global.set('vibration',msg.payload.d.vibration)\nmsg.payload=msg.payload.d.vibration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["16bf839f.3631ec","b731e80f.41a218"]]},{"id":"af95c2a4.3329","type":"function","z":"8604dec1.43f12","name":"current","func":"global.set('current',msg.payload.d.current)\nmsg.payload = msg.payload.d.current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":260,"wires":[["d6d0c72.4023338","b731e80f.41a218"]]},{"id":"4f7f1910.af9d58","type":"ui_gauge","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":1,"width":10,"height":6,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":140,"wires":[]},{"id":"23745d2e.aa33d2","type":"ui_gauge","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":2,"width":10,"height":6,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":180,"wires":[]},{"id":"16bf839f.3631ec","type":"ui_gauge","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":3,"width":10,"height":6,"gtype":"gage","title":"vibration","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":220,"wires":[]},{"id":"d6d0c72.4023338","type":"ui_gauge","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":4,"width":10,"height":6,"gtype":"gage","title":"current","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":260,"wires":[]},{"id":"2b753bf3.bfbbb4","type":"ui_button","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":7,"width":4,"height":1,"passthru":false,"label":"lights on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","topicType":"str","x":360,"y":380,"wires":[["2f7a84a8.4a915c","d3f98353.a2e72"]]},{"id":"fd80b785.900178","type":"ui_button","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":9,"width":4,"height":1,"passthru":false,"label":"lights off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"global","x":360,"y":420,"wires":[["2f7a84a8.4a915c","d3f98353.a2e72"]]},{"id":"da40a419.9045a8","type":"ui_button","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":13,"width":4,"height":1,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"global","x":360,"y":460,"wires":[["2f7a84a8.4a915c","d3f98353.a2e72"]]},{"id":"eeff5643.8a23d8","type":"ui_button","z":"8604dec1.43f12","name":"","group":"dc5a2441.c6cdf8","order":15,"width":4,"height":1,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"global","x":360,"y":500,"wires":[["2f7a84a8.4a915c","d3f98353.a2e72"]]},{"id":"d3f98353.a2e72","type":"debug","z":"8604dec1.43f12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":380,"wires":[]},{"id":"2f7a84a8.4a915c","type":"ibmiot out","z":"8604dec1.43f12","authentication":"apiKey","apiKey":"14d35440.5c28cc","outputType":"evt","deviceId":"1271","deviceType":"motors","eventCommandType":"cmd","format":"json","data":"DATA POINTS","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":460,"wires":[]},{"id":"891600a9.4cb74","type":"http in","z":"8604dec1.43f12","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":330,"y":620,"wires":[["c75fa224.9abf1","2f7a84a8.4a915c","add60ff7.89f9c"]]},{"id":"f91f7507.57ee88","type":"http in","z":"8604dec1.43f12","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":310,"y":700,"wires":[["9cc59543.25bfe8"]]},{"id":"c75fa224.9abf1","type":"http response","z":"8604dec1.43f12","name":"","statusCode":"","headers":{},"x":920,"y":620,"wires":[]},{"id":"11306b60.40acd5","type":"http response","z":"8604dec1.43f12","name":"","statusCode":"","headers":{},"x":930,"y":700,"wires":[]},{"id":"9cc59543.25bfe8","type":"function","z":"8604dec1.43f12","name":"data","func":"msg.payload={\n    \"temperature\" : global.get('temperature'),\n    \"humidity\": global.get('humidity'),\n    \"vibration\": global.get('vibration'),\n    \"current\":global.get('current')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":700,"wires":[["11306b60.40acd5"]]},{"id":"add60ff7.89f9c","type":"debug","z":"8604dec1.43f12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":660,"wires":[]},{"id":"4d312ce3.9cd804","type":"function","z":"8604dec1.43f12","name":"","func":"msg.playload={\n    \"temperature\" : global.get('temperature'),\n    \"humidity\": global.get('humidity'),\n    \"vibration\": global.get('vibration'),\n    \"current\":global.get('current')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":460,"wires":[[]]},{"id":"b731e80f.41a218","type":"debug","z":"8604dec1.43f12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"14d35440.5c28cc","type":"ibmiot","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"dc5a2441.c6cdf8","type":"ui_group","name":"sensor data","tab":"368fe1d.32f921e","order":1,"disp":true,"width":30,"collapse":false},{"id":"368fe1d.32f921e","type":"ui_tab","name":"Predictive Maintenance Of Industrial Motors","icon":"dashboard","disabled":false,"hidden":false}]